@import '../../../assets/style/variables';

.graph__radar {
  width: 100%;
  height: 100%;

  &--tick {
    font-size: $small;
    fill: $white;
  }
}

.graph__radar--polar--grid .recharts-polar-grid-line {
  stroke: transparent;
}

.graph__radar--polar--grid .recharts-polar-grid-radial {
  display: none;
}

.graph__radar--polar--grid .recharts-polar-grid-inner {
  display: none;
}
