@import '../../../assets/style/variables';

.graph__lines {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 263px;
  padding: 0;
  margin: 0;

  &--title {
    position: absolute;
    font-size: $normal;
    top: 29px;
    left: 34px;
    margin-right: 76px;
    opacity: 50%;
  }

  &--container {
    width: 100%;
    height: 100%;
  }

  &--tooltip {
    width: 39px;
    height: 25px;
    background-color: $white;
    color: $black;
    font-weight: $bold;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--ticks {
    position: absolute;
    font-size: $small;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 80%;
    opacity: 50%;
    bottom: 16px;
  }
}

.recharts-tooltip-wrapper,
.recharts-tooltip-wrapper-left,
.recharts-tooltip-wrapper-bottom {
  width: 100%;
}
