@import '../../assets/style/variables';

.sidebar {
  height: 100%;
  width: 8%;
  background-color: $black;
  &__icons {
    background-color: $white;
  }
  &__copyrights {
    text-orientation: mixed;
    color: $white;
  }
}
