//colors
$black: #020203;
$white: #fff;
$grey: #282d30;
$light-grey: #74798c;
$line: #dedede;
$main: #e60000;
$background: #fbfbfb;
$highlight: #c4c4c480;
$red: #ff0000;
$blue: #4ab8ff;
$yellow: #fdcc0c;
$pink: #fd5181;

//fonts
$font: 'Roboto', sans-serif;
$bold: 500;
$normal: 400;
$title: 3rem; //48px
$big: 1.5rem; //24px
$medium: 1.25rem; //20px
$subtitle: 1.125px; //18px
$normal: 0.938; //15px
$small: 0.75rem; //12px
