@import '../../assets/style/variables';

.figures {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.figure {
  background-color: $background;
  display: flex;
  flex-direction: row;
  width: 100%;

  &__icon {
    width: 60px;
    margin: 32px 24px 32px 32px;
  }

  &__txt {
    margin-top: 39px;

    &--nb {
      font-size: $medium;
      font-weight: 700;
    }

    &--title {
      margin-top: 14px;
      margin-bottom: 35px;
      font-size: 0.875rem;
      font-weight: $bold;
      color: $light-grey;
    }
  }
}
